<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wsh.zero.mapper.SysLogMapper">

    <insert id="save">
        insert into sys_log (id,title,operation,userName,`level`,remoteAddr,classMethod,requestUri,
                            browser,`data`,useTime,gmtTime)
        values (#{id},#{title},#{operation},#{userName},#{level},#{remoteAddr},#{classMethod},#{requestUri},
                #{browser},#{data},#{useTime},#{gmtTime})
    </insert>
</mapper>