<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wsh.zero.mapper.SysMenuMapper">
    <resultMap id="resultSysMenuVO" type="SysMenuVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="title" property="title"/>
        <result column="icon" property="icon"/>
        <result column="spread" property="spread"/>
        <result column="jump" property="jump"/>
        <result column="parent" property="parent"/>
    </resultMap>
    <resultMap id="resultMenuTreeVO" type="MenuTreeVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="parent" property="parent"/>
    </resultMap>
    <sql id="list_fields">
        sm.id,sm.name,sm.title,sm.icon,sm.jump,sm.spread,sm.parent
    </sql>
    <select id="getMenuList" resultMap="resultSysMenuVO">
        SELECT
        <include refid="list_fields"/>
        FROM sys_user su
        LEFT JOIN sys_user_menu map ON su.id=map.user_id
        LEFT JOIN sys_menu sm on map.menu_id=sm.id where su.user_name=#{userName} and sm.parent =#{parent} order by
        sm.`level`;
    </select>
    <update id="calculationLevel">
        update sys_menu set
        <choose>
            <when test="direction == 1">
                `level`=`level` + #{levelValue}
            </when>
            <otherwise>
                `level`=`level` - #{levelValue}
            </otherwise>
        </choose>
        where id=#{id}
    </update>
    <select id="isLimitLevel" resultType="boolean">
        SELECT count(1) FROM sys_menu where id=#{id} and `level`
        <choose>
            <when test="direction == 1">
                &gt;= (SELECT max(`level`)
            </when>
            <otherwise>
                &lt;= (SELECT min(`level`)
            </otherwise>
        </choose>
        FROM sys_menu where parent =(SELECT parent from sys_menu WHERE id=#{id}))

    </select>
    <update id="save">
        insert into sys_menu(id,`name`,title,icon,jump,spread,parent,`level`)
        values(#{id},#{name},#{title},#{icon},#{jump},#{spread},#{parent},#{level})
    </update>
    <select id="getAll" resultMap="resultMenuTreeVO">
       select id,title as name,parent from  sys_menu
    </select>
    <select id="getByPrimaryKey" resultMap="resultSysMenuVO">
       select <include refid="list_fields"/> from  sys_menu sm where id=#{id}
    </select>
</mapper>