<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wsh.zero.mapper.SysRoleMapper">
    <resultMap id="resultSysRoleVO" type="SysRoleVO">
        <id column="id" property="id"/>
        <result column="role_name" property="roleName"/>
        <collection property="powerList" ofType="SysPowerVO" column="id">
            <id column="pid" property="id"/>
            <result column="power_name" property="powerName"/>
        </collection>
    </resultMap>
    <sql id="list_fields">
        sr.id, sr.role_name
    </sql>
    <sql id="list_sql">
        <where>

        </where>
    </sql>
    <select id="getList" resultMap="resultSysRoleVO">
        select
        <include refid="list_fields"/>,sp.id as pid,sp.power_name
        from sys_role sr
        left join sys_role_power srp on sr.id=srp.role_id
        left join sys_power sp on srp.power_id=sp.id
        <include refid="list_sql"/>
        <if test="pageNum !=-1 and pageSize!=-1">
            limit #{pageNum},#{pageSize}
        </if>
    </select>

    <select id="getCount" resultType="int">
        select count(1) from sys_role
        <include refid="list_sql"/>
    </select>
    <select id="getRoles" resultMap="resultSysRoleVO">
        select
        <include refid="list_fields"/>
        from sys_role sr
    </select>
    <insert id="save">
        insert into sys_role (id, role_name)
        values (#{id}, #{roleName})
    </insert>
    <update id="update">
        update sys_role set role_name=#{roleName} where id=#{id}
    </update>
    <delete id="delByPrimaryKey">
        delete from sys_role where id=#{id}
    </delete>
</mapper>