<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wsh.zero.mapper.SysRolePowerMapper">
    <insert id="save">
        insert into sys_role_power (role_id,power_id)
        values ( #{roleId},#{powerId})
    </insert>
    <delete id="delByRoleId">
        delete
        from sys_role_power
        where role_id = #{roleId}
    </delete>
</mapper>