<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wsh.zero.mapper.SysPowerMapper">
    <resultMap id="resultSysPowerVO" type="SysPowerVO">
        <id column="id" property="id"/>
        <result column="power_name" property="powerName"/>
        <result column="power_path" property="powerPath"/>
        <result column="parent" property="parent"/>
        <result column="power_type" property="powerType"/>
        <result column="power_state" property="powerState"/>
        <result column="menu_id" property="menuId"/>
        <result column="menu_jump" property="menuJump"/>
    </resultMap>
    <sql id="list_fields">
        sp.id, sp.power_name,sp.power_path,sp.parent,sp.power_type,sp.power_state,sp.menu_id
    </sql>
    <sql id="list_sql">
        <where>

        </where>
    </sql>
    <select id="getList" resultMap="resultSysPowerVO">
        select
        <include refid="list_fields"/>,sm.jump as menu_jump
        from sys_power sp
        left join sys_menu sm on sp.menu_id=sm.id
        <include refid="list_sql"/>
        order by sp.id
        <if test="pageNum !=-1 and pageSize!=-1">
            limit #{pageNum},#{pageSize}
        </if>
    </select>

    <select id="getCount" resultType="int">
        select count(1) from sys_power
        <include refid="list_sql"/>
    </select>

    <select id="getPowerPathByState" resultType="String">
        select power_path from sys_power where power_state=#{powerState}
    </select>
    <select id="getPowers" resultMap="resultSysPowerVO">
        select
        <include refid="list_fields"/>
        from sys_power sp
    </select>
    <insert id="save">
        insert into sys_power ( power_name,power_path,parent,power_type,menu_id,gmtTime)
        values ( #{powerName}, #{powerPath}, #{parent}, #{powerType},#{menuId}, #{gmtTime})
    </insert>
    <update id="update">
        update sys_power set power_name=#{powerName},power_path=#{powerPath},menu_id=#{menuId} where id=#{id}
    </update>
    <update id="updatePowerState">
        update sys_power set power_state=#{powerState}
        <if test="id!=null">
            where id=#{id}
        </if>
    </update>
    <delete id="delByPrimaryKey">
        delete from sys_power where id=#{id}
    </delete>
    <delete id="delByNotPrimaryKey">
        delete from sys_power where id!=#{id}
    </delete>
    <delete id="delByParent">
        delete from sys_power where parent=#{parent}
    </delete>
</mapper>