<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.personnel.plan.mapper.JobCategoryMapper">
    
	<sql id="jobCategoryColumns">
		a.id AS "id",
		a.job_type AS "jobType",
		a.remarks AS "remarks",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.del_flag AS "delFlag"
	</sql>
	
	<sql id="jobCategoryJoins">
		
	</sql>
	
    
	<select id="get" resultType="JobCategory" >
		SELECT 
			<include refid="jobCategoryColumns"/>
		FROM job_category a
		<include refid="jobCategoryJoins"/>
		WHERE a.id = #{id}
	</select>

	<select id="find" resultType="JobCategory" >
		SELECT
		<include refid="jobCategoryColumns"/>
		FROM job_category a
		<include refid="jobCategoryJoins"/>
		WHERE
		<if test="jobType != null and jobType != ''">
			 a.job_type = #{jobType}
		</if>
		and a.del_flag = 0
	</select>

	<select id="count" resultType="int" >
		SELECT
		count(*)
		FROM job_category a
		<include refid="jobCategoryJoins"/>
		WHERE
		<if test="jobType != null and jobType != ''">
			 a.job_type = #{jobType}
		</if>
		and a.del_flag = 0
	</select>
	
	<select id="findList" resultType="JobCategory" >
		SELECT 
			<include refid="jobCategoryColumns"/>
		FROM job_category a
		<include refid="jobCategoryJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="jobType != null and jobType != ''">
				AND a.job_type = #{jobType}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="JobCategory" >
		SELECT 
			<include refid="jobCategoryColumns"/>
		FROM job_category a
		<include refid="jobCategoryJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO job_category(
			id,
			job_type,
			remarks,
			create_by,
			create_date,
			update_by,
			update_date,
			del_flag
		) VALUES (
			#{id},
			#{jobType},
			#{remarks},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE job_category SET 	
			job_type = #{jobType},
			remarks = #{remarks},
			update_by = #{updateBy.id},
			update_date = #{updateDate}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM job_category
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE job_category SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="JobCategory" statementType="STATEMENT">
		select * FROM job_category  where ${propertyName} = '${value}'
	</select>
	
</mapper>