<div class="layui-form" id="model">
    <div class="layui-form-item">
        <label class="layui-form-label required">编号</label>
        <div class="layui-input-block">
            <input type="text" name="id" lay-verify="required" placeholder="编号" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">登录账号</label>
        <div class="layui-input-block">
            <input type="text" name="userAmount" lay-verify="required" placeholder="登录账号"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">登录密码</label>
        <div class="layui-input-block">
            <input type="text" name="userPwd" lay-verify="required" placeholder="登录密码"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">用户名称</label>
        <div class="layui-input-block">
            <input type="text" name="userName" lay-verify="required" placeholder="用户名称"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline">
            <input type="button" lay-submit lay-filter="submit" value="确认" class="layui-btn">
        </div>
    </div>
</div>
