<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <!--直接设置到包-->
        <package name="com.zero.user.vo"/>
        <package name="com.zero.user.entity"/>
        <!--单个设置-->
        <!--<typeAlias alias="SysUserVO" type="com.zero.user.vo.SysUserVO"/>-->
    </typeAliases>
</configuration>