<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.aptitude.cooper.mapper.CooperaptitudeMapper">
    
	<sql id="cooperaptitudeColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.aptitudeno AS "aptitudeno",
		a.aptitudename AS "aptitudename.id",
		a.issueunit AS "issueunit",
		a.issuetime AS "issuetime",
		a.validtime AS "validtime",
		a.scanning AS "scanning",
		a.certificate AS "certificate",
		a.grade AS "grade",
		a.expiretime AS "expiretime",
				
				
				
				
				
				
				
				
		aptitudename.aptitudename AS "aptitudename.aptitudename"
	</sql>
	
	<sql id="cooperaptitudeJoins">
		
		LEFT JOIN aptitudeparam aptitudename ON aptitudename.id = a.aptitudename
	</sql>
	
    
	<select id="get" resultType="Cooperaptitude" >
		SELECT 
			<include refid="cooperaptitudeColumns"/>
		FROM cooperaptitude a
		<include refid="cooperaptitudeJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Cooperaptitude" >
		SELECT 
			<include refid="cooperaptitudeColumns"/>
		FROM cooperaptitude a
		<include refid="cooperaptitudeJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="aptitudename != null and aptitudename.id != null and aptitudename.id != ''">
				AND a.aptitudename = #{aptitudename.id}
			</if>
			<if test="certificate != null and certificate != ''">
				AND a.certificate = #{certificate}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Cooperaptitude" >
		SELECT 
			<include refid="cooperaptitudeColumns"/>
		FROM cooperaptitude a
		<include refid="cooperaptitudeJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO cooperaptitude(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			aptitudeno,
			aptitudename,
			issueunit,
			issuetime,
			validtime,
			scanning,
			certificate,
			grade,
			expiretime
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{aptitudeno},
			#{aptitudename.id},
			#{issueunit},
			#{issuetime},
			#{validtime},
			#{scanning},
			#{certificate},
			#{grade},
			#{expiretime}
		)
	</insert>
	
	<update id="update">
		UPDATE cooperaptitude SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			aptitudeno = #{aptitudeno},
			aptitudename = #{aptitudename.id},
			issueunit = #{issueunit},
			issuetime = #{issuetime},
			validtime = #{validtime},
			scanning = #{scanning},
			certificate = #{certificate},
			grade = #{grade},
			expiretime = #{expiretime}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM cooperaptitude
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE cooperaptitude SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Cooperaptitude" statementType="STATEMENT">
		select * FROM cooperaptitude  where ${propertyName} = '${value}'
	</select>
	
</mapper>