<title>系统权限 - 数据表格</title>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">数据操作</div>
                <div class="layui-card-body">
                    <script type="text/html" id="power_operate_btn">
                        <div class="layui-btn-container">
                            <button class="layui-btn" lay-event="add">添加</button>
                            <button class="layui-btn layui-btn-danger" lay-event="batchDel">批量删除</button>
                        </div>
                    </script>
                    <table class="layui-hide" id="power_table" lay-filter="power-table-filter"></table>

                    <script type="text/html" id="power-table-operate">
                        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(['admin', 'table','treetable'], function () {
        var table = layui.table
            , $ = layui.$
            , admin = layui.admin
            , form = layui.form
            , view = layui.view
            , treetable = layui.treetable
            , tableId = "power_table";
        // console.log(treetable)
        // table.render({
        //     elem: '#' + tableId
        //     , url: '/sys/power/list'
        //     // ,width: admin.screen() > 1 ? 892 : ''
        //     // ,height: 332
        //     //开启头部工具栏
        //     , toolbar: '#power_operate_btn'
        //     , defaultToolbar:  ['filter', 'print', 'exports']
        //     , cols: [[
        //         {type: 'checkbox', fixed: 'left'}
        //         , {field: 'id', title: 'ID', sort: true, fixed: 'left'}
        //         , {field: 'powerName', title: '权限名称'}
        //         , {width: 178, align: 'center', fixed: 'right', title: '操作', toolbar: '#power-table-operate'}
        //     ]]
        //     , page: true
        //     , limit: 10
        //     , limits: [10, 15, 20, 25, 30]
        //     , text: '对不起，加载出现异常！'
        // });
        var renderTable = function () {
            layer.load(2);
            treetable.render({
                treeColIndex: 1,
                treeSpid: "00000000-0000-0000-0000-000000000000",
                treeIdName: 'id',
                treePidName: 'parent',
                treeDefaultClose: true,
                treeLinkage: false,
                elem: '#'+tableId,
                url: '/sys/power/list',
                page: false,
                //开启头部工具栏
                 toolbar: '#power_operate_btn'
                , defaultToolbar:  ['filter', 'print', 'exports'],
                cols: [[
                    {field: 'id', title: 'ID'},
                    {field: 'powerName', title: '权限名称'},
                    {field: 'parent', title: 'pId'}
                    , {width: 178, align: 'center', fixed: 'right', title: '操作', toolbar: '#power-table-operate'}
                ]],
                done: function () {
                    layer.closeAll('loading');
                }
            });
        };

        renderTable();

        //监听工具条
        table.on('tool(table1)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;

            if (layEvent === 'del') {
                layer.msg('删除' + data.id);
            } else if (layEvent === 'edit') {
                layer.msg('修改' + data.id);
            }
        });
        //监听工具条
        table.on('tool(power-table-filter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    admin.req({
                        url: '/sys/power/del'
                        , type: 'post'
                        , data: {ids: data.id}
                        , done: function (res) {
                            layer.msg(res.msg)
                            obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                            layer.close(index);
                        }
                    });
                });
            } else if (obj.event === 'edit') {
                common('编辑权限信息', 'power-content-edit', '/sys/power/update', 'post', data);
            }
        });

        table.on('toolbar(power-table-filter)', function (obj) {
            switch (obj.event) {
                case 'batchDel':
                    var checkStatus = table.checkStatus(tableId)
                        , checkData = checkStatus.data; //得到选中的数据
                    var length = checkData.length;
                    if (length === 0) {
                        return layer.msg('请选择数据');
                    }
                    var ids = ''
                    for (item in checkData) ids += checkData[item]["id"] + ",";
                    layer.confirm('确定删除这 ' + length + ' 条数据吗？', function () {
                        admin.req({
                            url: '/sys/power/del'
                            , type: 'post'
                            , data: {ids: ids}
                            , done: function (res) {
                                layer.msg(res.msg)
                                table.reload(tableId);
                            }
                        });
                    });
                    break;
                case 'add':
                    common('添加权限信息', 'power-content-add', '/sys/power/save', 'post');
                    break;
            }
        });

        function common(title, id, url, ajaxType, data) {
            admin.popup({
                title: title
                , area: ['450px', '550px']
                , id: id
                , success: function (layero, index) {
                    view(this.id).render('sys/power/model').done(function () {
                        //初始化弹框
                        form.render(null, 'power-model-filter');
                        if (data) {
                            //渲染弹框
                            form.val('power-model-filter', data)
                        }
                        //监听提交
                        form.on('submit(power-submit-filter)', function (data) {
                            admin.req({
                                url: url
                                , type: ajaxType
                                , data: data.field
                                , done: function (res) {
                                    layer.msg(res.msg);
                                    table.reload(tableId); //重载表格
                                    layer.close(index); //执行关闭
                                }
                            });
                        });
                    });
                }
            });
        }

    });
</script>