<div class="layui-form" lay-filter="power-model-filter">
    <input type="hidden" name="id" class="layui-input">
    <div class="layui-form-item">
        <label class="layui-form-label required">权限名称</label>
        <div class="layui-input-block">
            <input type="text" name="powerName" lay-verify="required" placeholder="权限名称"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">权限路径</label>
        <div class="layui-input-block">
            <input type="text" name="powerPath" lay-verify="required" placeholder="权限路径"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-hide" id="menu_jump">
        <label class="layui-form-label required">菜单URL</label>
        <div class="layui-input-block">
            <select name="menuId" lay-search id="menu_jump_select">
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline">
            <input type="button" lay-submit lay-filter="power-submit-filter" value="确认" class="layui-btn">
        </div>
    </div>
</div>
