<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.personnel.manager.mapper.ContactMapper">
    
	<sql id="contactColumns">
		a.id AS "id",
		a.staff_id AS "staffId",
		a.name AS "name.id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.email AS "email",
		a.qq AS "qq",
		a.we_chat AS "weChat",
		a.status AS "status",
		name.name AS "name.name"
	</sql>
	
	<sql id="contactJoins">
		
		LEFT JOIN staff name ON name.id = a.name

	</sql>
	
    
	<select id="get" resultType="Contact" >
		SELECT 
			<include refid="contactColumns"/>
		FROM contact a
		<include refid="contactJoins"/>
		WHERE a.id = #{id}
	</select>

	<select id="getName" resultType="Contact" >
		SELECT
		<include refid="contactColumns"/>
		FROM contact a
		<include refid="contactJoins"/>
		WHERE a.name = #{name}
		and a.del_flag = 0

	</select>
	<select id="find" resultType="Contact" >
		SELECT
		<include refid="contactColumns"/>
		FROM contact a
		<include refid="contactJoins"/>
		WHERE
		<if test="email !=null and email!='' ">
		a.email = #{email}
	    </if>
		<if test="name !=null and name!='' ">
			a.name = #{name.id}
		</if>
		<if test="qq !=null and qq!='' ">
			 a.qq = #{qq}
		</if>
		<if test="weChat !=null and weChat!='' ">
			 a.we_chat = #{weChat}
		</if>
		<if test="status !=null and status!='' ">
			a.status = #{status}
		</if>
		and a.del_flag = #{DEL_FLAG_NORMAL}
	</select>
	<select id="count" resultType="int" >
		SELECT
		count(*)
		FROM contact a
		<include refid="contactJoins"/>
		WHERE
		<if test="email !=null and email!='' ">
			a.email = #{email}
		</if>
		<if test="qq !=null and qq!='' ">
			 a.qq = #{qq}
		</if>
		<if test="weChat !=null and weChat!='' ">
			 a.we_chat = #{weChat}
		</if>
		and a.del_flag = #{DEL_FLAG_NORMAL}
	</select>

	
	<select id="findList" resultType="Contact" >
		SELECT 
			<include refid="contactColumns"/>
		FROM contact a
		<include refid="contactJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="name != null and name.id != null and name.id != ''">
				AND a.name LIKE 
					<if test="dbName == 'oracle'">'%'||#{name.id}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{name.id}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{name.id},'%')</if>
			</if>
			<if test="staffCode != null and staffCode.code != null and staffCode.code != ''">
				AND name.code = #{staffCode.code}
			</if>
			<if test="company != null and company.id != null and company.id != ''">
				AND name.company = #{company.id}
			</if>
			<if test="depart != null and depart.id != null and depart.id != ''">
				AND name.depart = #{depart.id}
			</if>
			<if test="station != null and station.id != null and station.id != ''">
				AND name.station = #{station.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Contact" >
		SELECT 
			<include refid="contactColumns"/>
		FROM contact a
		<include refid="contactJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO contact(
			id,
			staff_id,
			name,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			email,
			qq,
			we_chat,
			status
		) VALUES (
			#{id},
			#{staffId},
			#{name.id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{email},
			#{qq},
			#{weChat},
			#{status}
		)
	</insert>
	
	<update id="update">
		UPDATE contact SET 	
			staff_id = #{staffId},
			name = #{name.id},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			email = #{email},
			qq = #{qq},
			we_chat = #{weChat},
			status = #{status}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM contact
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE contact SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>

	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Contact" statementType="STATEMENT">
		select * FROM contact  where ${propertyName} = '${value}'
	</select>
	
</mapper>