<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.seal.mapper.SealMapper">
    
	<sql id="sealColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.del_flag AS "delFlag",
		a.appperson AS "appperson",
		a.purpose AS "purpose",
		a.filename AS "filename",
		a.sealtype AS "sealtype",
		a.sealtime AS "sealtime",
		a.sealperson AS "sealperson",
		a.proc_ins_id AS "procInsId"
	</sql>
	
	<sql id="sealJoins">
		
	</sql>
	
    
	<select id="get" resultType="Seal" >
		SELECT 
			<include refid="sealColumns"/>
		FROM seal a
		<include refid="sealJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Seal" >
		SELECT 
			<include refid="sealColumns"/>
		FROM seal a
		<include refid="sealJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="filename != null and filename != ''">
				AND a.filename = #{filename}
			</if>
			<if test="sealtype != null and sealtype != ''">
				AND a.sealtype = #{sealtype}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Seal" >
		SELECT 
			<include refid="sealColumns"/>
		FROM seal a
		<include refid="sealJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO seal(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			del_flag,
			appperson,
			purpose,
			filename,
			sealtype,
			sealtime,
			sealperson,
			proc_ins_id
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{delFlag},
			#{appperson},
			#{purpose},
			#{filename},
			#{sealtype},
			#{sealtime},
			#{sealperson},
			#{procInsId}
		)
	</insert>
	
	<update id="update">
		UPDATE seal SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			appperson = #{appperson},
			purpose = #{purpose},
			filename = #{filename},
			sealtype = #{sealtype},
			sealtime = #{sealtime},
			sealperson = #{sealperson},
			proc_ins_id = #{procInsId}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM seal
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE seal SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Seal" statementType="STATEMENT">
		select * FROM seal  where ${propertyName} = '${value}'
	</select>
	
</mapper>