<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.asset.putstore.mapper.PutstoreassetMapper">
    
	<sql id="putstoreassetColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.assetname AS "assetname",
		a.specimodel AS "specimodel",
		a.buytime AS "buytime",
		a.putassettime AS "putassettime",
		a.amount AS "amount",
		a.number AS "number",
		a.address AS "address",
		a.yearnum AS "yearnum",
		a.assetvalue AS "assetvalue"
	</sql>
	
	<sql id="putstoreassetJoins">
		
	</sql>
	
    
	<select id="get" resultType="Putstoreasset" >
		SELECT 
			<include refid="putstoreassetColumns"/>
		FROM putstoreasset a
		<include refid="putstoreassetJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Putstoreasset" >
		SELECT 
			<include refid="putstoreassetColumns"/>
		FROM putstoreasset a
		<include refid="putstoreassetJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="assetname != null and assetname != ''">
				AND a.assetname = #{assetname}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Putstoreasset" >
		SELECT 
			<include refid="putstoreassetColumns"/>
		FROM putstoreasset a
		<include refid="putstoreassetJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO putstoreasset(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			assetname,
			specimodel,
			buytime,
			putassettime,
			amount,
			number,
			address,
			yearnum,
			assetvalue
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{assetname},
			#{specimodel},
			#{buytime},
			#{putassettime},
			#{amount},
			#{number},
			#{address},
			#{yearnum},
			#{assetvalue}
		)
	</insert>
	
	<update id="update">
		UPDATE putstoreasset SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			assetname = #{assetname},
			specimodel = #{specimodel},
			buytime = #{buytime},
			putassettime = #{putassettime},
			amount = #{amount},
			number = #{number},
			address = #{address},
			yearnum = #{yearnum},
			assetvalue = #{assetvalue}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM putstoreasset
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE putstoreasset SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Putstoreasset" statementType="STATEMENT">
		select * FROM putstoreasset  where ${propertyName} = '${value}'
	</select>
	
</mapper>