<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.personnel.manage.mapper.ContractTypeMapper">
    
	<sql id="contractTypeColumns">
		a.id AS "id",
		a.name AS "name",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.del_flag AS "delFlag"
	</sql>
	
	<sql id="contractTypeJoins">
		
	</sql>

	<select id="find" resultType="ContractType" >
		SELECT
		<include refid="contractTypeColumns"/>
		FROM contract_type a
		<include refid="contractTypeJoins"/>
		WHERE
		<if test="name !=null and name!='' ">
			a.name = #{name}
		</if>
		and a.del_flag = 0
	</select>

	<select id="count" resultType="int" >
		SELECT
		count(*)
		FROM contract_type a
		<include refid="contractTypeJoins"/>
		WHERE
		<if test="name !=null and name!='' ">
			a.name = #{name}
		</if>
		and a.del_flag = 0
	</select>
	<select id="get" resultType="ContractType" >
		SELECT 
			<include refid="contractTypeColumns"/>
		FROM contract_type a
		<include refid="contractTypeJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="ContractType" >
		SELECT 
			<include refid="contractTypeColumns"/>
		FROM contract_type a
		<include refid="contractTypeJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="name != null and name != ''">
				AND a.name = #{name}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="ContractType" >
		SELECT 
			<include refid="contractTypeColumns"/>
		FROM contract_type a
		<include refid="contractTypeJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO contract_type(
			id,
			name,
			create_by,
			create_date,
			update_by,
			update_date,
			del_flag
		) VALUES (
			#{id},
			#{name},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE contract_type SET 	
			name = #{name},
			update_by = #{updateBy.id},
			update_date = #{updateDate}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM contract_type
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE contract_type SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="ContractType" statementType="STATEMENT">
		select * FROM contract_type  where ${propertyName} = '${value}'
	</select>
	
</mapper>