<title>菜单分配</title>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm4">
            <div class="layui-card zero-height-brace-up" style="width: 25%">
                <div class="layui-card-header">用户留言</div>
                <div class="layui-card-body ">
                    <input type="text" id="key" placeholder="检索权限" class="layui-input" title="检索权限">
                    <div id="navTree">
                        <ul id="tree" class="ztree"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-sm8">
            <div class="layui-card zero-height-brace-up" style="width: 54%">
                <div class="layui-card-header">用户留言</div>
                <div class="layui-card-body">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['admin', 'table'], function () {
        var admin = layui.admin;

        var setting = {
            async: {
                enable: true,
                autoParam: ["id"]
            },
            data: {
                simpleData: {
                    enable: true,
                    idKey: "id",
                    pIdKey: "parent",
                    rootPId: 0
                }
            },
            check: {
                // enable: true//checkbox
            },
            view: {
                showIcon: false,
                nameIsHTML: true, //允许name支持html
                selectedMulti: false
                // , fontCss: {'color': 'blue', 'font-family': '微软雅黑'}
            },
            edit: {
                enable: false,
                editNameSelectAll: false
            },
            callback: {
                onClick: onClick//点击事件
            }
        };

        function onClick(event, treeId, treeNode, clickFlag) {
            //实现单击展开
            var zTree = $.fn.zTree.getZTreeObj("tree");
            zTree.expandNode(treeNode);
        }

        admin.req({
            url: "/sys/menu/get_tree"
            , success: function (res) {
                $.fn.zTree.init($("#tree"), setting, res.data);
                fuzzySearch('tree', '#key', null, true); //初始化模糊搜索方法
            }
        });

    });

</script>