<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.oatest.mapper.OatestMapper">
    
	<sql id="oatestColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.username AS "username",
		a.userpwd AS "userpwd"
	</sql>
	
	<sql id="oatestJoins">
		
	</sql>
	
    
	<select id="get" resultType="Oatest" >
		SELECT 
			<include refid="oatestColumns"/>
		FROM t_oatest a
		<include refid="oatestJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Oatest" >
		SELECT 
			<include refid="oatestColumns"/>
		FROM t_oatest a
		<include refid="oatestJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Oatest" >
		SELECT 
			<include refid="oatestColumns"/>
		FROM t_oatest a
		<include refid="oatestJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO t_oatest(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			username,
			userpwd
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{username},
			#{userpwd}
		)
	</insert>
	
	<update id="update">
		UPDATE t_oatest SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			username = #{username},
			userpwd = #{userpwd}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM t_oatest
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE t_oatest SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Oatest" statementType="STATEMENT">
		select * FROM t_oatest  where ${propertyName} = '${value}'
	</select>
	
</mapper>