<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.personnel.achieve.mapper.PerStandardMapper">
    
	<sql id="perStandardColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.del_flag AS "delFlag",
		a.per_conf_id AS "perConfId",
		a.name AS "name",
		a.proportion AS "proportion"
	</sql>
	
	<sql id="perStandardJoins">
		
	</sql>
	
    
	<select id="get" resultType="PerStandard" >
		SELECT 
			<include refid="perStandardColumns"/>
		FROM per_standard a
		<include refid="perStandardJoins"/>
		WHERE a.id = #{id}
	</select>

	<select id="find" resultType="PerStandard" >
		SELECT
		<include refid="perStandardColumns"/>
		FROM per_standard a
		<include refid="perStandardJoins"/>
		<where>
			<if test="perConfId !=null and perConfId!='' ">
		        a.per_conf_id = #{perConfId}
			</if>
			<if test="name !=null and name!='' ">
				and a.name = #{name}
			</if>
		     and a.del_flag = 0
		</where>
	</select>

	<select id="count" resultType="int" >
		SELECT
		count(*)
		FROM per_standard a
		<include refid="perStandardJoins"/>
		<where>
			<if test="perConfId !=null and perConfId!='' ">
				a.per_conf_id = #{perConfId}
			</if>
			<if test="name !=null and name!='' ">
				and a.name = #{name}
			</if>
			and a.del_flag = 0
		</where>
	</select>
	
	<select id="findList" resultType="PerStandard" >
		SELECT 
			<include refid="perStandardColumns"/>
		FROM per_standard a
		<include refid="perStandardJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="perConfId != null and perConfId != ''">
				AND a.per_conf_id = #{perConfId}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="PerStandard" >
		SELECT 
			<include refid="perStandardColumns"/>
		FROM per_standard a
		<include refid="perStandardJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO per_standard(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			del_flag,
			per_conf_id,
			name,
			proportion
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{delFlag},
			#{perConfId},
			#{name},
			#{proportion}
		)
	</insert>
	
	<update id="update">
		UPDATE per_standard SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			per_conf_id = #{perConfId},
			name = #{name},
			proportion = #{proportion}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM per_standard
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE per_standard SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="PerStandard" statementType="STATEMENT">
		select * FROM per_standard  where ${propertyName} = '${value}'
	</select>
	
</mapper>