<title>编辑用户</title>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">编辑用户</div>
                <div class="layui-card-body" style="padding: 15px;">
                    <form class="layui-form" action="" lay-filter="form-edit">
                        <div class="layui-form-item">
                            <label class="layui-form-label required">编号</label>
                            <div class="layui-input-block">
                                <input type="text" name="id" lay-verify="required" placeholder="编号" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label required">登录账号</label>
                            <div class="layui-input-block">
                                <input type="text" name="userAmount" lay-verify="required" placeholder="登录账号"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label required">登录密码</label>
                            <div class="layui-input-block">
                                <input type="text" name="userPwd" lay-verify="required" placeholder="登录密码"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label required">用户名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="userName" lay-verify="required" placeholder="用户名称"
                                       class="layui-input">
                            </div>
                        </div>

                        <!--<div class="layui-form-item">-->
                        <!--<label class="layui-form-label">性别</label>-->
                        <!--<div class="layui-input-block">-->
                        <!--<div class="layui-col-md12">-->
                        <!--<input type="radio" name="gender" value="M" title="男" checked>-->
                        <!--<input type="radio" name="gender" value="F" title="女">-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                    <button class="layui-btn" type="button" lay-submit=""
                                            lay-filter="edit">立即提交
                                    </button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['admin', 'form'], function () {
        var $ = layui.$,
            admin = layui.admin,
            form = layui.form,
            router = layui.router(),
            id = router.search.id;

        admin.req({
            url: '/sys/user/get'
            , type: 'get'
            , data: {id: id}
            , done: function (res) {
                form.val('form-edit', res.data)
            }
        });
        form.on('submit(edit)', function (data) {
            admin.req({
                url: '/sys/user/update'
                , type: 'post'
                , data: data.field
                , done: function (res) {
                    //文章列表
                    layer.msg(res.msg)
                    layui.routes.back1()
                }
            });
        });

    });
</script>